@font-face {
  font-family: 'DaftBrush';
  src: url('../fonts/daftbrush/DaftBrush.eot');
  src: url('../fonts/daftbrush/DaftBrush.woff2') format('woff2'),
       url('../fonts/daftbrush/DaftBrush.woff') format('woff'),
       url('../fonts/daftbrush/DaftBrush.ttf') format('truetype'),
       url('../fonts/daftbrush/DaftBrush.svg#DaftBrush') format('svg'),
       url('../fonts/daftbrush/DaftBrush.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Runcible';
  src: url('../fonts/runcible/Runcible.eot');
  src: url('../fonts/runcible/Runcible.woff2') format('woff2'),
       url('../fonts/runcible/Runcible.woff') format('woff'),
       url('../fonts/runcible/Runcible.ttf') format('truetype'),
       url('../fonts/runcible/Runcible.svg#Runcible') format('svg'),
       url('../fonts/runcible/Runcible.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../fonts/avenir/AvenirNext-Medium.eot');
  src: url('../fonts/avenir/AvenirNext-Medium.woff2') format('woff2'),
       url('../fonts/avenir/AvenirNext-Medium.woff') format('woff'),
       url('../fonts/avenir/AvenirNext-Medium.ttf') format('truetype'),
       url('../fonts/avenir/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg'),
       url('../fonts/avenir/AvenirNext-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('../fonts/avenir/AvenirNext-Bold.eot');
  src: url('../fonts/avenir/AvenirNext-Bold.woff2') format('woff2'),
       url('../fonts/avenir/AvenirNext-Bold.woff') format('woff'),
       url('../fonts/avenir/AvenirNext-Bold.ttf') format('truetype'),
       url('../fonts/avenir/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg'),
       url('../fonts/avenir/AvenirNext-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
