@import "fonts";

$body-bg: #f4f4f4;
$line-height-base: 1.57142857;
$link-color: #0270ab;
$link-hover-decoration: none;
$azul-escuro:#0270ab;
$azul-claro: #c7f3f4;
$rosa:#ffe7ea;
$deco:#db2e2a;
$dana:#fcf1c4;
$danatexto:#bf4d93;
$dim:#cbf0f6;
$dimtexto:#0270ab;

$menu-ativo:#e5e209;


$brand-success: #29b35b;
$brand-danger: #b61b17;

$font-family-base: "AvenirNext-Medium", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;


$alert-info-border: #31708f;
$alert-success-border: darken($brand-success, 12%);
$alert-success-text: #fff;
$alert-success-bg: $brand-success;
$alert-danger-border: #b61b17;
$alert-danger-text: #b61b17;
$alert-danger-bg: #ffcdd2;

$navbar-height: 56px;
$navbar-default-bg: #fff;
$navbar-default-border: #e0e0e0;
$navbar-default-color: #757575;
$navbar-default-link-color: #262626;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #262626;

$panel-heading-padding: 20px 30px;
$panel-body-padding: 10px;


@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");
@import "vendor/bootstrap";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 44px;
  background-color: #fff;
}

footer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 672px;
    padding: 30px;
    background-image: url(../images/footer.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    background-color: #fff;
    color: #fff;
}

.login-container {
  max-width: 555px;
}

// Alerts
// -------------------------

.alert {
  border-width: 0 0 0 3px;
}

// Navbar
// -------------------------

.navbar-default .navbar-nav > li > a {
  font-family: 'DaftBrush';
  border-bottom: none;
  padding-bottom: ($navbar-padding-vertical - 3);
  transition: all 0.25s;
  &:hover {
    border-bottom-color: #bdbdbd;
  }
  &.navbar-avatar {
    padding-top: $navbar-padding-vertical - 4.5;
    padding-bottom: ($navbar-padding-vertical - 4.5) - 3;
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
}

// Panels
// -------------------------

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

// Buttons
// -------------------------

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
  &:focus {
    outline: 0 !important;
  }
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
  &:active {
    background: darken(#f5f5f5, 6%) linear-gradient(to bottom, darken(#fff, 6%), darken(#f5f5f5, 6%));
  }
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  &:active {
    background: darken(#29b35b, 6%) linear-gradient(to bottom, darken(#2ec866, 6%), darken(#29b35b, 6%));
  }
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
  &:active {
    background: darken(#b61b17, 6%) linear-gradient(to bottom, darken(#cc1e1a, 6%), darken(#b61b17, 6%));
  }
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

// Forms
// -------------------------

textarea {
  resize: none;
}

.form-control {
    background-color:$azul-claro;
    color:$azul-escuro;
    padding: 9px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 0px $azul-escuro, inset 0 1px 15px rgba(150, 160, 175, 0.05)
}
.form-control::-webkit-input-placeholder {
  color: $azul-escuro;
}
.form-control:-moz-placeholder {
  color: $azul-escuro;
}
.form-control::-moz-placeholder {
  color: $azul-escuro;
}
.form-control:-ms-input-placeholder {
  color: $azul-escuro;
}
.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5{
  text-transform: uppercase;
  font-family: 'Runcible';
  font-weight: 100;
}
h1{
  font-family: 'DaftBrush';
}
.Dim{
  background-color: $azul-claro;
  color:#004771;
}
.Dana{
  background-color:$dana;
  color:$danatexto;
}
.Deco{
  background-color:$rosa;
  color:$deco;
}
.Titulo{
  font-size: 2.5em;
  &-Dim{
    color:#004771;}
  &-Dana{
    color:$danatexto;}
  &-Deco{
    color:$deco;}
}

 .form-control:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 6px 0px $azul-escuro, inset 0 1px 15px rgba(150, 160, 175, 0.05);
}


   .container {
        max-width: 800px;
    }
    .navbar {
        min-height: 50px;
         margin-bottom: 0px; 
        border: 1px solid transparent;
    }
    .sticky {
      position: sticky;
      top: 0;
      width: 100%;
      padding: 0;
      border-top: 3px solid #ea547a;
      background-color: #e12347;
      background-size: 100px 100px;
      color: white;
      text-align: center;
    }
    .fixed {
      position: fixed;
    }
    .static {
      padding: 5em 0 20em;
      background: #1085bc;
      background-image: url(../images/header-mob.png);
      background-size: cover;
      background-position: center bottom;
      color: white;
      text-align: center;
    }

.Logo img{
    width: 327px;
    max-width: 100%;
} 

.Azul{
  color:$azul-escuro;
}
.Padding-top{
  padding-top: 40px;
}
.form-group {
  margin-bottom: 10px;
}
.Newsletter {
  margin: 15px;
}
.Icone{
    margin: 10px 5px;
    color: white;
    border-radius: 100px;
    -webkit-transition: all;
    -ms-transition: all;
    shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 0px #ffffff, inset 0 1px 15px rgba(150, 160, 175, 0.05);
    &-facebook{
       padding: 5px 10px;
       background-color: #1eabd9;
    }
    &-instagram{
       background-color: #b188b4;    
       padding: 5px 6px;
    }
    &-youtube{
       background-color: #df1c2d;    
       padding: 5px 6px;
    }
}
.btn-newsletter{
    text-transform: uppercase;
    color: white;
    background: #f81948;
    border-radius: 11px;
    box-shadow: 0 3px 0px #540404, inset 0 1px 15px rgba(150, 160, 175, 0.05);
    padding: 6px 31px;
    border-color: transparent;
}
h1{
  color: $deco;
}
.navbar-default .navbar-nav > li > a{
  font-size: 28px;
  color: #fff;
  font-weight: 100;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
          
.Frase-youtube{
  text-align:center;
  font-family: 'DaftBrush';
  color: $deco;
  font-size: 1.4em;
};

.Fundo{
    background-image: url(../images/bg.png);
    background-repeat: repeat;
}
.navbar-default .navbar-nav > li > a:hover {
    border-bottom-color: #f88144;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f88144;
    background-color: transparent;
}
    .Divisor{
      display: none;
    }
    .st0{fill:#FECE06;}
    .st1{fill:$deco;}
    .Vermelho{color:$deco;}
.Newsletter-titulo{
  text-transform: none;
  font-size: 2.5em;
  color: $azul-escuro;
}
strong{
  font-family: 'AvenirNext-Bold';
}
.error{
    background-color: #f4c7ee;
    box-shadow: 0 3px 0px #ab0202, inset 0 1px 15px rgba(150, 160, 175, 0.05);
}
.Span{
  display: none;
}
.Spanerror{
    display: block;
    padding-top: 6px;
    padding-left: 10px;
    margin-bottom: -8px;
    color: #ab0202;
}
select#cidade {
    margin-top: 10px;
}
.Itens{
  padding: 0;
}
.Paragrafo{
  text-align: center;
  padding-top: 10px;
}
@media only screen and (min-width: 768px) {
    .Itens {
      padding: 0 8px;
    }
    .Paragrafo{
      text-align: right;
    }
    select#cidade {
      margin-top: 0px;
    }
    .Divisor{
      display: block;
    }
    .static {
        background-image: url(../images/header.png);
    }
}

